- name: Install OS packages.
  ansible.builtin.package:
    name:
      - moreutils
      - tar

- name: Ensure directories exist.
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0750"
  with_items:
    - "{{ proxmox_backup_log_dir }}"

- name: Deploy backup wrapper script.
  ansible.builtin.template:
    src: usr/local/sbin/prox_config_backup_wrapper.sh.j2
    dest: "{{ proxmox_backup_wrapper_script_path }}"
    mode: "0750"
    owner: root
    group: root

- name: Create backup cronjob.
  when: proxmox_backup_cron_configure
  ansible.builtin.cron:
    name: proxmox backup
    job: "/bin/bash {{ proxmox_backup_wrapper_script_path }} >> {{ proxmox_backup_log_file }}"
    minute: "{{ proxmox_backup_cron_minute | default(omit) }}"
    hour: "{{ proxmox_backup_cron_hour | default(omit) }}"
    day: "{{ proxmox_backup_cron_day | default(omit) }}"
    month: "{{ proxmox_backup_cron_month | default(omit) }}"
    weekday: "{{ proxmox_backup_cron_weekday | default(omit) }}"
    special_time: "{{ proxmox_backup_cron_special_time | default(omit) }}"
    user: root

- name: "Manage pxarexclude"
  include_tasks: manage-pxarexclude.yml
  tags:
    - pxarexclude
