#!/bin/bash
# {{ ansible_managed }}

{% if proxmox_backup_server_repository is defined %}

export PBS_REPOSITORY="{{ proxmox_backup_server_repository | default('') }}"
{% if proxmox_backup_server_password is defined %}
export PBS_PASSWORD="{{ proxmox_backup_server_password }}"
{% endif %}

proxmox-backup-client backup pve-backup.pxar:/ {{ proxmox_backup_server_client_additional_args | default('') }}
{% endif %}
