#!/bin/bash
# {{ ansible_managed }}

{% if proxmox_backup_server_repository is defined %}
proxmox-backup-client backup pve-backup.pxar:{{ proxmox_backup_dir }} {{ proxmox_backup_server_client_additional_args | default('') }}
{% endif %}
